<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangla.love_sms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.bangla.love_sms.Activity.FeedbackActivity">

        </activity>

        <activity android:name="com.bangla.love_sms.Activity.FavouriteActivity" />
        <activity android:name="com.bangla.love_sms.Activity.PoetSpeechActivity" />
        <activity android:name="com.bangla.love_sms.Activity.GoodNightActivity" />
        <activity android:name="com.bangla.love_sms.Activity.PohelaBoishakhActivity" />
        <activity android:name="com.bangla.love_sms.Activity.EidMubarakActivity" />
        <activity android:name="com.bangla.love_sms.Activity.FunnyMessageActivity" />
        <activity android:name="com.bangla.love_sms.Activity.BirthdayActivity" />
        <activity android:name="com.bangla.love_sms.Activity.GoodMorningActivity" />
        <activity android:name="com.bangla.love_sms.Activity.FriendshipActivity" />
        <activity android:name="com.bangla.love_sms.Activity.WishingActivity" />
        <activity android:name="com.bangla.love_sms.Activity.MissingActivity" />


        <activity android:name="com.bangla.love_sms.Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.bangla.love_sms.Activity.LoveMessageActivity" />

        <activity
            android:name="com.bangla.love_sms.Activity.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_ad_id" />
    </application>

</manifest>